//==========================================================================
// Mouse Injector Plugin
//==========================================================================
// Copyright (C) 2018 Carnivorous
// All rights reserved.
//
// Mouse Injector is free software; you can redistribute it and/or modify it
// under the terms of the GNU General Public License as published by the Free
// Software Foundation; either version 2 of the License, or (at your option)
// any later version.
//
// This program is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
// for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, visit http://www.gnu.org/licenses/gpl-2.0.html
//==========================================================================
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

//
// Dialog resources
//
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDC_CONFIGWINDOW DIALOGEX 0, 0, 470, 343
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_CLIPSIBLINGS | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Mouse Injector - Input Settings"
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    AUTORADIOBUTTON "Player 1", IDC_PLAYER1, 11, 8, 41, 8, WS_GROUP | WS_TABSTOP, WS_EX_LEFT
    AUTORADIOBUTTON "Player 2", IDC_PLAYER2, 56, 8, 41, 8, WS_TABSTOP, WS_EX_LEFT
    AUTORADIOBUTTON "Player 3", IDC_PLAYER3, 101, 8, 41, 8, WS_TABSTOP, WS_EX_LEFT
    AUTORADIOBUTTON "Player 4", IDC_PLAYER4, 146, 8, 41, 8, WS_TABSTOP, WS_EX_LEFT
    PUSHBUTTON      "Detect Input Devices", IDC_DETECTDEVICE, 375, 7, 76, 12, NOT WS_VISIBLE, WS_EX_LEFT
    CTEXT           "", IDC_PARTITION, 7, 22, 456, 2, NOT WS_TABSTOP | SS_CENTER | SS_SUNKEN, WS_EX_LEFT
    RTEXT           "Profile", IDC_CONFIGBOXINFO, 17, 32, 70, 12, SS_RIGHT | SS_CENTERIMAGE, WS_EX_RIGHT
    COMBOBOX        IDC_CONFIGBOX, 97, 32, 150, 120, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST, WS_EX_LEFT
    CTEXT           "Primary", IDC_STATICPRIM, 97, 47, 70, 15, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "Secondary", IDC_STATICSEC, 177, 47, 70, 15, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    RTEXT           "Forward", IDC_LABEL00, 17, 62, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY00, 97, 63, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY00, 177, 63, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Backwards", IDC_LABEL01, 17, 77, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY01, 97, 78, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY01, 177, 78, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Strafe Left", IDC_LABEL02, 17, 92, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY02, 97, 93, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY02, 177, 93, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Strafe Right", IDC_LABEL03, 17, 107, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY03, 97, 108, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY03, 177, 108, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Fire", IDC_LABEL04, 17, 122, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY04, 97, 123, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY04, 177, 123, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Aim", IDC_LABEL05, 17, 137, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY05, 97, 138, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY05, 177, 138, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Next Weapon/Accept", IDC_LABEL06, 17, 152, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY06, 97, 153, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY06, 177, 153, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Reload/Use/Cancel", IDC_LABEL07, 17, 167, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY07, 97, 168, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY07, 177, 168, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Start", IDC_LABEL08, 17, 182, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY08, 97, 183, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY08, 177, 183, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Crouch", IDC_LABEL09, 17, 197, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY09, 97, 198, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY09, 177, 198, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Previous Weapon", IDC_LABEL10, 17, 212, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY10, 97, 213, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY10, 177, 213, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Next Weapon", IDC_LABEL11, 17, 227, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY11, 97, 228, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY11, 177, 228, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Analog Up", IDC_LABEL12, 17, 242, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY12, 97, 243, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY12, 177, 243, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Analog Down", IDC_LABEL13, 17, 257, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY13, 97, 258, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY13, 177, 258, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Analog Left", IDC_LABEL14, 17, 272, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY14, 97, 273, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY14, 177, 273, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Analog Right", IDC_LABEL15, 17, 287, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Primary", IDC_PRIMARY15, 97, 288, 70, 13, BS_FLAT, WS_EX_LEFT
    PUSHBUTTON      "Secondary", IDC_SECONDARY15, 177, 288, 70, 13, BS_FLAT, WS_EX_LEFT
    RTEXT           "Mouse", IDC_MOUSESELECTINFO, 265, 32, 31, 12, SS_RIGHT | SS_CENTERIMAGE, WS_EX_RIGHT
    COMBOBOX        IDC_MOUSESELECT, 301, 32, 151, 120, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST, WS_EX_LEFT
    RTEXT           "Keyboard", IDC_KEYBOARDSELECTINFO, 265, 49, 31, 12, SS_RIGHT | SS_CENTERIMAGE, WS_EX_RIGHT
    COMBOBOX        IDC_KEYBOARDSELECT, 301, 49, 151, 120, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST, WS_EX_LEFT
    RTEXT           "Mouse Sensitivity:", IDC_SLIDER_STATIC00, 329, 67, 100, 9, SS_RIGHT | SS_CENTERIMAGE, WS_EX_LEFT
    LTEXT           "100%", IDC_SLIDER_DISPLAY00, 433, 67, 30, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    CONTROL         "Sensitivity Slider", IDC_SLIDER00, TRACKBAR_CLASS, WS_TABSTOP | TBS_NOTICKS, 267, 77, 189, 11, WS_EX_LEFT
    RTEXT           "Mouse Acceleration:", IDC_SLIDER_STATIC01, 329, 88, 100, 9, SS_RIGHT | SS_CENTERIMAGE, WS_EX_LEFT
    LTEXT           "None", IDC_SLIDER_DISPLAY01, 433, 88, 30, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    CONTROL         "Acceleration Slider", IDC_SLIDER01, TRACKBAR_CLASS, WS_TABSTOP | TBS_AUTOTICKS, 267, 98, 189, 11, WS_EX_LEFT
    RTEXT           "Crosshair Movement:", IDC_SLIDER_STATIC02, 329, 111, 100, 9, SS_RIGHT | SS_CENTERIMAGE, WS_EX_LEFT
    LTEXT           "100%", IDC_SLIDER_DISPLAY02, 433, 111, 30, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    CONTROL         "Crosshair Slider", IDC_SLIDER02, TRACKBAR_CLASS, WS_TABSTOP | TBS_AUTOTICKS, 267, 120, 189, 11, WS_EX_LEFT
    AUTOCHECKBOX    "Reverse Mouse Pitch", IDC_INVERTPITCH, 271, 134, 86, 17, WS_TABSTOP, WS_EX_LEFT
    AUTOCHECKBOX    "Cursor Aiming (GE)", IDC_GECURSORAIMING, 369, 134, 83, 17, WS_TABSTOP, WS_EX_RIGHT
    AUTOCHECKBOX    "Crouch Toggle", IDC_CROUCHTOGGLE, 271, 149, 65, 17, WS_TABSTOP, WS_EX_LEFT
    AUTOCHECKBOX    "Cursor Aiming (PD)", IDC_PDCURSORAIMING, 369, 149, 83, 17, WS_TABSTOP, WS_EX_RIGHT
    GROUPBOX        "All Players", IDC_ALLPLAYERS, 271, 167, 181, 47, 0, WS_EX_RIGHT
    PUSHBUTTON      "Reset FOV", IDC_RESETFOV, 278, 176, 40, 9, WS_TABSTOP, WS_EX_RIGHT
    LTEXT           "Vertical FOV:  60 (Hor 91)", IDC_FOV_DEGREES, 358, 177, 93, 8, SS_LEFT | SS_NOTIFY, WS_EX_LEFT
    CONTROL         "Field of View Slider", IDC_FOV, TRACKBAR_CLASS, WS_TABSTOP | TBS_NOTICKS, 274, 186, 175, 12, WS_EX_LEFT
    LTEXT           "Default FOV", IDC_FOV_NOTE, 279, 198, 80, 8, SS_LEFT | SS_NOTIFY, WS_EX_LEFT
    AUTOCHECKBOX    "Show Crosshair (GE)", IDC_GESHOWCROSSHAIR, 363, 198, 81, 8, WS_TABSTOP, WS_EX_RIGHT
    GROUPBOX        "Info", IDC_INFOBOX, 271, 216, 181, 68, NOT WS_TABSTOP, WS_EX_RIGHT
    CTEXT           "These controls have been designed for the 1.2 controller profile in GE/PD. You will need to change the in-game settings for this profile to work. Read the bundle readme FAQ for further instructions.\r\n\r\nIf you want to use a USB controller, change the input plugin to N-Rage.", IDC_INFO, 273, 224, 177, 58, NOT WS_GROUP | SS_CENTER, WS_EX_TRANSPARENT
    PUSHBUTTON      "Revert", IDC_REVERT, 298, 290, 60, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Clear", IDC_CLEAR, 364, 290, 60, 14, 0, WS_EX_LEFT
    CTEXT           "", IDC_PARTITION, 7, 312, 456, 2, SS_CENTER | SS_SUNKEN, WS_EX_LEFT
    RTEXT           "Toggle Injection", IDC_LOCK_LABEL, 17, 320, 70, 15, SS_RIGHT | SS_CENTERIMAGE, WS_EX_TRANSPARENT
    PUSHBUTTON      "Lock", IDC_LOCK, 97, 321, 70, 14, WS_GROUP | BS_FLAT, WS_EX_LEFT
	AUTOCHECKBOX    "Autolock Mouse", IDC_LOCKONFOCUS, 177, 318, 110, 8, WS_TABSTOP, WS_EX_LEFT
    AUTOCHECKBOX    "Unlock Mouse on Window Loss", IDC_UNLOCKONWINLOSS, 177, 330, 110, 10, WS_TABSTOP, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDC_OK, 293, 321, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDC_CANCEL, 353, 321, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Help", IDC_HELPPOPUP, 413, 321, 50, 14, 0, WS_EX_LEFT
}



//
// Version Information resources
//
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
1 VERSIONINFO
    FILEVERSION     1,7,0,0
    PRODUCTVERSION  1,7,0,0
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0
    FILEFLAGS       0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "FileDescription", "Mouse Injector for 1964"
            VALUE "FileVersion", "1, 7, 0, 0"
            VALUE "InternalName", "Mouse Injector"
            VALUE "LegalCopyright", "Copyright (C) 2018 Carnivorous"
            VALUE "OriginalFilename", "Mouse_Injector.dll"
            VALUE "ProductName", "Mouse Injector for GE/PD"
            VALUE "ProductVersion", "1, 7, 0, 0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04B0
    }
}
